.number {
  text-align: right;
  font-size: 0.75vw;
}

.name {
  text-align: center;
  font-size: 0.75vw;
}

.symbol {
  text-align: center;
  font-size: 1.5vw;
}

.Element {
  cursor: pointer;
  width: 5vw;
  height: 5vw;

  padding: 2px;
  border: 1px solid #333333;
  border-collapse: collapse;
  overflow: hidden;
  font-size: 35pt;
}
.Element:hover {
  border: 3px solid #300003;
}
