.Navbar {
  border-top: solid 0.1vw;
  border-bottom: solid 0.1vw;
  background-color: aqua;
  align-content: center;
}

.NumberSwitch {
  margin: 0 1rem !important;
}

.SwitchList {
  padding: 5px;
  list-style-type: none;
  display: flex;
}

.SwitchItem {
  flex: 1;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  display: inline;
}
